/*Detail-page*/
.detail {
  /* background-color: rgb(245, 245, 245); */
  color: rgb(75, 75, 75);
  display: grid;
  text-align: center;
  text-transform: uppercase;
  grid-template-columns: 50% 50%;
}
.detail article {
  padding: 5px;
}
.detailIMG {
  align-self: stretch;
  width: 100%;
  max-height: 70vh;
  border: 0;
}
.detail h1 {
  font-size: 1.8rem;
  padding: 15px 0;
}
.detail h2 {
  font-size: 1.4rem;
  padding: 10px 0;
}

/*size list:*/
.sizes {
  padding: 30px 0;
}
.labelDetail {
  display: inline-block;
  padding: 30px;
  position: relative;
}
.radioInput {
  display: none;
}
.sizeBox {
  border: 1px solid;
  border-color: rgb(200, 200, 200);
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  border-radius: 10%;
  left: 0;
  top: 50%;
  margin-top: -12.5px;
}
.radioInput:hover + span {
  background: rgb(140, 140, 140);
  border: 2px solid rgb(140, 140, 140);
}
.radioInput:checked + span {
  background: rgb(201, 200, 200);
}

/*noStockHover*/
.hide {
  display: none;
  position: absolute;
  width: max-content;
  top: 100%;
  left: 0;
}

#noStock:hover + .hide {
  display: block;
  color: red;
}
/*--noStockHover--*/
/*--sizelist--*/

/*Button*/
.detailButton {
  background-color: rgb(55, 55, 55);
  color: rgb(190, 190, 190);
  border: 2px solid rgb(190, 190, 190);
  display: inline-block;
  padding: 16px 32px;
  margin: 4px 2px;
  text-align: center;
  transition-duration: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.detailButton:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(55, 55, 55);
}
.selectSizeWarning {
  color: red;
}

/*----*/
/*--detail---*/
