html {
  height: 100%;
}

body {
  /* background-color: rgb(236, 223, 208); */
  /* color: #137bb3; */
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.45;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/*Button*/
menu {
  background: #999999;
  width: fit-content;
  height: auto;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #272727;
}

menu:hover {
  opacity: 1;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.3),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
/*----*/

/*Header*/
header {
  background-color: rgb(40, 40, 40);
  color: #ffffff;
  width: 100%;
  text-align: center;
}
header ul {
  margin-top: 0;
  padding: 10px 0;
}
header li {
  /* background-color: rgb(155, 137, 207); */
  display: inline;
  font-size: 1.2rem;
  margin: 0 15px;
}
/*----*/

/*Products*/
.container {
  /* background-color: rgb(240, 247, 149); */
  flex-grow: 1;
  width: 90vw;
  max-width: 1200px;
  padding: 10px;
}

.products {
  /* background-color: darkgreen; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.product {
  background-color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  text-align: center;
  max-width: 225px;
  width: 90%;
  min-height: 250px;
  height: 20vh;
  margin: 5px;
  padding: 5px;
  grid-template-rows: 80% 8% 8%;
}

.product:hover {
  background-color: rgb(235, 235, 235);
}

.productImg {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.product p {
  color: rgb(86, 86, 86);
  font-size: 0.8rem;
}
/*---*/

/*Footer*/
footer {
  background-color: rgb(230, 230, 230);
  color: rgb(75, 75, 75);
  text-align: center;
  width: 100%;
  height: auto;
  bottom: 0;
}

footer p {
  padding: 15px 0;
  margin: 0;
}
/*----*/

@media screen and (max-width: 1100px) {
  .products {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 700px) {
  .products {
    grid-template-columns: auto;
  }
}
